<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
	<table id="cart" class="table table-hover table-condensed" style="margin-top: 100px; margin-bottom:300px">
    				<thead>
						<tr>
							<th style="width:50%">Producto</th>
							<th style="width:10%">Precio</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src={{{telefono.Imagen}}} alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{{telefono.Marca}}} {{{telefono.Modelo}}} </h4>
										<p>Capacidad: {{{telefono.Capacidad}}} Color: {{{telefono.Color}}} </p>
									</div>
								</div>
							</td>
							<td data-th="Price">${{{telefono.Precio}}} </td>
							<td data-th="Quantity" class="text-center">1</td>
								{{!-- <input type="text" class="form-control text-center" value="1"> --}}
					
							<td data-th="Subtotal" class="text-center">$ {{{telefono.Precio}}} </td>
							
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 1.99</strong></td>
						</tr>
						<tr>
							<td><a href="/volver" class="btn btn-warning"><i class="fa fa-angle-left"></i> Volver al Menu</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total ${{{telefono.Precio}}}</strong></td>
							<td><a href="/compras-usuario/{{{telefono.ID}}}" class="btn btn-success btn-block">Comprar <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>


